<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>This app reads step count and active energy for health insights.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>This app writes health data when required.</string>
    <key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
    <string>This app accesses health data to display user activity.</string>
</dict>
</plist>
